* {
    font-family: Lato, sans-serif;
    margin: 0;  
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.s1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(244, 246, 249, 1);
    width: 100%;
    height: 100%;
    max-height: 665px;
    
}

.logo {
    margin-top: 30px;
    display:inline-block;
    z-index: 100;
    padding: 15px;
    width: fit-content;

}

.left1 {
    display: grid;
    grid-template-rows: 1fr 1fr .75fr .75fr;
    z-index: 1;
    margin-left: 80px;
    text-align: left; 
    max-height: 665px;
    width: 100%;
}

.heading1 {
    color: rgba(51, 51, 51, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.03em;      
    padding: 15px;
}

.heading2 {
    color: rgba(79, 79, 79, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    padding: 15px;
 
}

.install {
    padding: 13px;
    display: flex;
    flex-direction: row;
}

.applestore {
    margin-right: 10px;
    max-height: 47px;
}

.googlestore {
    margin-left: 10px;
    max-height: 47px;
}

.right1 {
    margin-left: -150px;    
}

.photo1 {
    max-height:665px;
    width: 100%;
}

/* section2 */

.s2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
}

.left2 {
    max-width: 805px;
    max-height: 592px;
    position: relative;
    width: 100%;
}

.gradient {
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));    
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.photo2 {
    width: 100%;
    height: 100%;
}

.right2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(250, 250, 250, 1);

}

.sample1 {
    top: -489px ;
    left: 161px;
    position: relative;
    z-index: 3;
}

.sample2 {
    position: absolute;
    top: 295px;    
    z-index: 2;
}

.heading3, .heading4, .para, .learnmore {
    padding: 15px;
    margin-left: 50px;
    text-align: left;
}

.heading3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(0, 173, 238, 1);
}

.heading4 {
    color: rgba(51, 51, 51, 1);
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
  
}

.para {
    color: rgba(79, 79, 79, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    max-width: 407px;    
}

.learnmore {
    color: rgba(0, 173, 238, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;   
        
}

/* section3 */

.s3 {
    display: flex;
    flex-direction: row;
    width: 100%;
  
}

.left3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.right3 {
    margin-left: -1003px;
   
    width: 100%;
}

.photo3 {
    width: 100%;
   

}



/* section4 */

.s4 {
    background: url('./images/Group\ 696.png');
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading5 {
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    padding: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.blueicon, .whiteicon, .photo {
    width:40px;
    height:40px;
   
}

.blueicon {
    visibility: hidden;
}

.box {
    padding: 10px;
    margin: 5px;
    text-align: left;
}

.info {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 54px;
}

/*section 5 */
.s5 {   
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
    position: relative;
}

.heading6 {
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    color: rgba(51, 51, 51, 1);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient1{
    background: linear-gradient(90deg, #ffffff 0.4%, rgb(255 255 255 / 0%) 15.9%);
    position: absolute;    
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

.gradient2{
    background: linear-gradient(270deg, #ffffff 0.4%, rgb(255 255 255 / 0%) 15.9%);
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    
}

.card{
    max-width: 309px;
    min-height: 161px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(130, 130, 130, 1);
    margin: 15px;
    
}

.top {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}


.bottom {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
    color: rgba(79, 79, 79, 1);
    max-width: 286px;
}


.profilepic {
    margin-left: 12px;
    padding: 5px;
}

.name{
    padding: 5px;
    margin-left: 2px;
    margin-right: 90px;
    color: rgba(51, 51, 51, 1);
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    min-width: 130px;
}

.tweet {
    padding: 5px;
    margin-right: 8px;
}

.arrow2 {
    border: 1.5px solid rgba(0, 173, 238, 1);
    width: 45px;
    height: 45px;
    border-radius: 138px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    right: 120px;
    position: absolute;
    top: 184px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.arrow1 {
    border: 1.5px solid rgba(0, 173, 238, 1);
    width: 45px;
    height: 45px;
    border-radius: 138px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 184px;
    background-color: rgba(255, 255, 255, 1);
    left: 120px;
    z-index: 2;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.leftarrow {
    z-index: 3;
}

.rightarrow {
    z-index: 3;
    position: relative;
    top: 7px;
    height: 30px;
    width: 30px;
}

.scroll{
    padding: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*section 6*/

.s6 {
    background-color: rgba(250, 250, 250, 1);

}

.sports {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px 30px 10px;
    flex-wrap: wrap;   
}

.picture {
    padding: 10px;
}


/*section 7*/

.s7 {
    background-color: rgba(250, 250, 250, 1);

    display: flex;
    flex-direction: row;
    width: 100%;
}

.right7{
    margin-top: 40px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right7 .install {
    padding-bottom: 40px;
    margin: 10px;
}

/*footer*/

footer {
    background-color:rgba(0, 173, 238, 1);
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
    min-height: 127px;
}

.footerswap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logoiconfooter {
    padding: 15px;
    margin-left: 10px;
}

.logofooter {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;  
    flex-wrap: wrap;
}

.option {  
    padding: 20px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.twitter,.facebook,.instagram {
    padding: 10px;
 
}

/*responsive design*/

@media only screen and (max-width: 480px) {
    .s1 {
        max-height: 525px;
        grid-template-rows: 1fr;
        justify-items: center;
        justify-content: center;
        grid-template-columns: none;
    }

    .logo {
        justify-self: center;
    }

    .right1 {
        display: none;
    }

    .left1 {
        max-height: 525px;
        text-align: center;
        margin: 10px;
        justify-content: center;
        width: 100%;
    }

    .heading1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.03em;
        margin-top: -10px;
        max-width: 320px;

    }

    .googlestore, .applestore {
        max-height: 44px;
        max-width: 120px;
    }

    .heading2 {
        font-size: 16px;
        line-height: 23px;  
        margin-top: 10px; 
        max-width: 320px; 
        justify-self: center;
    }

    .install {
        justify-items: center;
        max-width: 310px;
        justify-self: center;
        justify-content: center;
        align-items: center;
    }

    .s2{
        
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        width: 100%;
    }

    .heading3, .heading4, .para, .learnmore {
        padding: 15px;
        max-width: 320px;
        margin: 5px;
        text-align: center;
    }

    .heading3 {
        margin-top: 18px;
    }

    .right2 {
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .left2 {
        max-height: 360px;
        width: 100%;
    }

    .photo2 {
        min-height: 360px;
    }

    .gradient {
        background: linear-gradient(180deg, #FFFFFF 3.16%, rgba(255, 255, 255, 0) 67.14%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        max-height: 360px;    
        top: 0;
        left: 0;

    }

    .sample1 {
        max-width: 247px;
        max-height: 149px;
        top: -319px;
        left: 27px;
    }

    .sample2 {
        max-width: 247px;
        max-height: 149px;
        top: 175px;
        right: 15px;        
    }

    .s3 {
        display: flex;
        flex-direction: column;
    }

    .left3 {
        align-items: center;
    }

    .right3 {
        width:auto;
        overflow: hidden;
        margin-left: -323px;
    }

    .photo3 {
        object-position: center 50%;
    }

    .s4 {
        background: rgba(250, 250, 250, 1);
         
        align-items: center;      
    }

    .heading5 {
        padding: 15px;
        max-width: 320px;
        color: rgba(51, 51, 51, 1);
        text-align: center; 
    }

    .features {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .box {
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 320px;

    }

    .photo {
        display: flex;
        align-items: center;
        
    }

    .info {
        color: rgba(79, 79, 79, 1);
        text-align: center;
        max-width: 320px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .whiteicon {
        visibility: hidden;
    }

    .blueicon {
        visibility: visible;
    }

    .card1, .card2, .gradient1,.gradient2,.arrow1 {
        visibility: hidden;
    }

    .arrow2 {
        right: 3px;
        height: 42px;
        width: 42px;
    }

    .card {
        max-width: 300px;
    }

    .name {
        margin-right: 80px;
    }

    
    .sports {
        flex-wrap: wrap;

    }

    .picture {
        padding: 10px;
    }

    .s6 .heading6{
        text-align: center;
    }

    .s7 {
        display: flex;
        flex-direction: column-reverse;
    }

    .left7 img {
        width: 100%;
        height: 100%;
    }

    .right7 {
        margin: 10px;
    }

    footer {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 0.5fr 1fr;        
        justify-content: left;
    }

    .footerswap {
        flex-direction: column-reverse;
    }

    .logofooter,.socials,.options {
        justify-content: left;
        
    }

    .logofooter,.logoiconfooter {
        margin: 0;
    }

    .socials {
        padding: 5px;
    }

    .option {
        padding: 7px;
    }

    .options {
        margin-left: 5px;
    }



}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .s1 {
        max-height: 525px;
        grid-template-rows: 1fr;
        justify-items: center;
        justify-content: center;
        grid-template-columns: none;
    }

    .logo {
        justify-self: center;
    }

    .right1 {
        display: none;
    }

    .left1 {
        max-height: 525px;
        text-align: center;
        margin: 10px;
        justify-content: center;
        width: 100%;
    }

    .heading1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.03em;
        margin-top: -10px;
        min-width: 320px;

    }

    .googlestore, .applestore {
        max-height: 44px;
        min-width: 120px;
    }

    .heading2 {
        font-size: 16px;
        line-height: 23px;  
        margin-top: 10px; 
        min-width: 320px; 
        justify-self: center;
    }

    .install {
        justify-items: center;
        min-width: 310px;
        justify-self: center;
        justify-content: center;
        align-items: center;
    }

    .s2{
     
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .heading3, .heading4, .para, .learnmore {
        padding: 15px;
        min-width: 320px;
        margin: 5px;
        text-align: center;
    }

    .heading3 {
        margin-top: 18px;
    }

    .right2 {
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .left2 {
        max-height: 552px;
        width: 100%;
    }

    .gradient {
        background: linear-gradient(180deg, #FFFFFF 3.16%, rgba(255, 255, 255, 0) 67.14%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        max-height: 552px;    
        top: 0;
        left: 0;

    }

    .photo2 {
        min-height: 552px;
    }


    .sample1 {
        max-height: 210px;
        top: -455px;
        left: 42px;
    }

    .sample2 {
        max-height: 210px;
        top: 276px;
        right: 42px;        
    }

    .s3 {
        display: flex;
        flex-direction: column;
    }

    .left3 {
        align-items: center;
    }

    .right3 {
        width:auto;
        overflow: hidden;
        margin-left: -469px;
    }

    .photo3 {
        object-position: center 50%;
    }

    .s4 {
        background: rgba(250, 250, 250, 1);
         
        align-items: center;      
    }

    .heading5 {
        padding: 15px;
        min-width: 320px;
        color: rgba(51, 51, 51, 1);
        text-align: center; 
    }

    .features {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .box {
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .photo {
        display: flex;
        align-items: center;

    }

    .info {
        color: rgba(79, 79, 79, 1);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .whiteicon {
        visibility: hidden;
    }

    .blueicon {
        visibility: visible;
    }

    .card1, .card2, .gradient1,.gradient2 {
        visibility: hidden;
    }

    .arrow1 {
        left: 30px;
    }

    .arrow2 {
        right: 30px;
    }

    .sports {
        flex-wrap: wrap;
    }

    .s6 .heading6{
        text-align: center;
    }

    .s7 {
        display: flex;
        flex-direction: column-reverse;
    }

    .left7 img {
        width: 100%;
        height: 100%;
    }

    .right7 {
        margin: 10px;
    }

    footer {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 0.5fr 1fr;        
        justify-content: left;
    }

    .footerswap {
        flex-direction: column-reverse;
    }

    .logofooter,.socials,.options {
        justify-content: left;
        
    }

    .logofooter,.logoiconfooter {
        margin: 0;
    }

    .socials {
        padding: 5px;
    }
   

  

}

@media (min-width:769px) and (max-width:960px) {
    .s1 {
        grid-template-columns: 1fr 0.5fr;
    }

    .left1 {
        max-width: 55%;
        margin-left: 40px;
    }

    .photo1 {
        max-width: 100%;
    }

    .right1 {
        margin-left: -271px;
    }

    .install {
        justify-items: center;
        max-width: 300px;
    }

    .googlestore, .applestore {
        max-height: 44px;
        max-width: 140px;
    }

    .s2{
       
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .heading3, .heading4, .para, .learnmore {
        padding: 15px;
        max-width: 320px;
        margin-left: 25px;
        text-align: left;
    }

    .right2 {
        text-align: left;
        width: 100%;
        
    }

    .left2 {
        max-height: 552px;
        width: 100%;
    }

    .gradient {
        background: linear-gradient(270deg, #FFFFFF 3.16%, rgba(255, 255, 255, 0) 67.14%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        max-height: 552px;    
        top: 0;
        left: 0;

    }   

    .sample1 {     
        max-height: 190px;
        top: -431px;
        left: 27px;
    }

    .sample2 {
        max-height: 190px;
        top: 264px;
        right: 27px;        
    }  

    .right3 {
        width:auto;
        margin-left: -628px;
    }  

    .arrow1 {
        left: 53px;
    }

    .arrow2 {
        right: 53px;
    }

    .gradient1 {
        background: linear-gradient(90deg, #ffffff 0.4%, rgb(255 255 255 / 0%) 30%);
    }

    .gradient2 {
        background: linear-gradient(270deg, #ffffff 0.4%, rgb(255 255 255 / 0%) 30%);
    }

    .left7 {
        width: 50%;
    }

    .left7 img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1200px){
    .s1 {
        grid-template-columns: 1fr 0.5fr;
    }

    .left1 {
        max-width: 55%;
        margin-left: 50px;
    }

    .photo1 {
        max-width: 100%;
    }

    .right1 {
        margin-left: -393px;
    }

    .install {
        justify-items: center;
        min-width: 310px;
    }

    .googlestore, .applestore {
        max-height: 45px;
        max-width: 150px;
    }

    .s2{
        
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .heading3, .heading4, .para, .learnmore {
        padding: 15px;
       
        margin-left: 25px;
        text-align: left;
    }

    .right2 {
        text-align: left;
        width: 100%;
        
    }

    .left2 {
        max-height: 552px;
        width: 100%;
    }

    .gradient {
        background: linear-gradient(270deg, #FFFFFF 3.16%, rgba(255, 255, 255, 0) 67.14%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        max-height: 552px;    
        top: 0;
        left: 0;

    }  

    .sample1 {
        max-height: 190px;
        top: -450px;
        left: 35px;
    }

    .sample2 {
        max-height: 190px;
        top: 262px;
        right: 30px;        
    }

    .left3 .heading3,.left3 .heading4,.left3 .para,.left3 .learnmore {
        margin-left: 80px;
    }

    .arrow1 {
        left: 63px;
    }

    .arrow2 {
        right: 63px;
    }

    .gradient1 {
        background: linear-gradient(90deg, #ffffff 0.4%, rgb(255 255 255 / 0%) 20%);
    }

    .gradient2 {
        background: linear-gradient(270deg, #ffffff 0.4%, rgb(255 255 255 / 0%) 20%);
    }

    .left7 {
        width: 50%;
    }

    .left7 img {
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 1201px) and (max-width:1366px) {
    .install {
        margin-top: -25px;
    }

    .heading1 {
        max-width: 500px;
        word-wrap: break-word;
    }

    .right1 {
        margin-left: -248px;
    }

    .heading2 {
        max-width: 400px;
        margin-top: -10px;
    }

    .s2{
      
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .heading3, .heading4, .para, .learnmore {
        padding: 15px;
        text-align: left;
    }

    .right2 {
        text-align: left;
        width: 100%;
        
    }

    .left2 {
        max-height: 552px;
        width: 100%;
        max-width: none;
    }

    .gradient {
        background: linear-gradient(270deg, #FFFFFF 3.16%, rgba(255, 255, 255, 0) 67.14%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        max-height: 552px;    
        top: 0;
        left: 0;

    } 

    .sample1 {
        top: -461px;
        left: 80px;
    }

    .sample2 {
        top: 274px;
        right: 133px;        
    }
    

    .left3 .heading3,.left3 .heading4,.left3 .para,.left3 .learnmore {
        margin-left: 80px;
    }

    .left7 {
        width: 50%;
    }

    .left7 img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
    .install {
        margin-top: -45px;
    }

    .heading1 {
        max-width: 569px;
    }

    .left1 {
        margin-left: 80px;
    }

    .right1 {
        margin-left: -236px;
    }

    .heading2 {
        max-width: 480px;
        margin-top: -30px;
    }

    .s2{
       
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .heading3, .heading4, .para, .learnmore {
        padding: 15px;
        text-align: left;
    }

    .right2 {
        text-align: left;
        width: 100%;
        
    }

    .left2 {
        max-height: 552px;
        width: 100%;
        max-width: none;
    }

    .gradient {
        background: linear-gradient(270deg, #FFFFFF 3.16%, rgba(255, 255, 255, 0) 67.14%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        max-height: 552px;    
        top: 0;
        left: 0;

    }  

    .sample1 {
        top: -461px;
        left: 80px;
    }

    .sample2 {
        top: 274px;
        right: 133px;        
    }

    .left3 .heading3,.left3 .heading4,.left3 .para,.left3 .learnmore {
        margin-left: 80px;
    }

    .left7 {
        width: 50%;
    }

    .left7 img {
        width: 100%;
        height: 100%;
    }
    
}

@media only screen and (min-width: 1601px) {
    .left2 {
        max-height: 552px;
        width: 100%;
        max-width: none;
    }  

    .right2 {
        text-align: left;
        width: 100%;        
    }

    .s3 {
        background-repeat: no-repeat;
        min-height: 716px;
    }

    .heading3, .heading4, .para, .learnmore {
        padding: 15px;
        text-align: left;
        max-width: none;
    }

    .sample1 {
        top: -461px;
        left: 80px;
    }

    .sample2 {
        top: 274px;
        right: 133px;        
    }

    .left3 .heading3,.left3 .heading4,.left3 .para,.left3 .learnmore {
        margin-left: 80px;
    }

    .left7 {
        width: 50%;
    }

    .left7 img {
        width: 100%;
        height: 100%;
    }

   
}